body{
  background-color: #ccc;
}

.cl-skype {
  text-decoration: none;
  color: blue;
}

.cl-page-title{
  line-height: 100%;
  font-size: 24px;
  color: white;
  margin: 0 auto 24px;;
  text-align: center;
}

.cl-header__navbar{
  padding: 8px;
  //background-color: rgba(104, 159, 56, .5);
  background-color: rgba(0,0,0, 1);

  button {
    color: white;

  }
  a {
    text-decoration: none;
    color: white;
  }

}

.cl-header {
  //background-color: rgb(139, 195, 73);
  background: url("http://cdn.neonsky.com/4bd5ebf1d852d/images/inch_02-3.jpg");
  background-size: cover;
  padding: 64px 0px 0px 0px;
  margin-bottom: 32px;
}

.cl-photo {
  margin: 0 auto 24px;
  width: 160px;

  img {
    width: 100%;
    border-radius: 24px;
  }
}

.cl-container{
  margin: 0 auto;
  max-width: 800px;
  
}

.cl-card{
  width: 100%;
  margin-bottom: 32px;
  min-height: auto;
}

@media (max-width:500px){
  .cl-page-title{
    display: none;
  }
  .cl-header__navbar{
    display: block;
    a {
      text-align: left;
      display: block;
    }
  }
}



